
   <button  (click)="nuevo()"  class="btn btn-success"> Agregar</button>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Código</th>
        <th>Año Fabricacion</th>
        <th>Cilindrada</th> 
        <th>Puerta </th> 
        <th>Precio </th>
        <th>Color </th>
        <th>Marca </th>
        <th>Motor </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let automovil of automovil" >
        <td>{{automovil.id}}</td>
        <td>{{automovil.anioFabricacion}}</td>
        <td>{{automovil.cilindrada}}</td>
        <td>{{automovil.numPuertas}}</td>
        <td>{{automovil.precio}}</td>
        <td>{{automovil.color}}</td>
        <td>{{automovil.marca}}</td>
        <td>{{automovil.motor}}</td>

        <td>
          <button  (click)="editar(automovil)" class="btn btn-info"> Editar</button>
       
          <button (click)="eliminar(automovil)" class="btn btn-danger"> Delete</button>  
          <td>
      </tr>
    </tbody>
  </table>